* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    /* font-family: Arial, sans-serif;*/
    /* Let's use a more modern font */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    text-align: center;
    margin-bottom: 10px;
}

p {
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-input {
    margin-bottom: 15px;
}

.form-input label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-input button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-input button:hover {
    background-color: #0056b3;
}

.form-input a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.form-input a:hover {
    text-decoration: underline;
}

.form-input input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.form-input label input[type="checkbox"] {
    margin: 0;
}
.form-input label {
    color: #333;
}

.form-input label:hover input[type="checkbox"] {
    cursor: pointer;
}

/* style the form input text */
.form-input input[type="text"], .form-input input[type="email"], .form-input input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}